html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: #333333;
  font-size: 15px;
  font-size: 0.9375rem;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.sec-title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}

.sec-title-en {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #3BA6C9;
  text-align: center;
  padding-bottom: 64px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header {
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
}

.header-logo {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-logo img {
  padding-right: 24px;
}

.header-nav .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav .header-menu .header-nav-item {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 46px;
}

.header .wrapper {
  padding-bottom: 0;
}

#mv {
  width: 100%;
  background-image: url(/img/mv-back-cont.png);
  background-repeat: no-repeat;
  background-position: right -85px;
}
#mv .wrapper {
  height: 674px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mv-left {
  width: 50%;
}
.mv-left .sec-title {
  text-align: left;
}
.mv-left p {
  padding-top: 38px;
  padding-bottom: 51px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.mv-right {
  width: 50%;
}
.mv-right img {
  padding-left: 133px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 80px;
}

.features-cont-title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 108px;
}

.features-cont-title-top {
  padding-top: 0;
}

.features-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features-cont img {
  width: calc(50% - 157px);
}

.featuers-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features-txtarea {
  width: 50%;
}
.features-txtarea .features-txtarea-concept {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}
.features-txtarea p {
  padding-top: 54px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

#price {
  background: #EEFBFB;
  width: 100%;
  text-align: center;
}

.alert {
  font-weight: bold;
  padding-top: 41px;
  font-size: 16px;
  font-size: 1rem;
}

#blog {
  background: #EEFBFB;
}
#blog .wrapper {
  max-width: 1230px;
}

.blog-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.blog-inner .card {
  width: 33.3333333333%;
  position: relative;
}
.blog-inner .card p {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 19px 18px;
  position: relative;
}
.blog-inner .card time {
  font-size: 16px;
  font-size: 1rem;
  display: block;
  text-align: right;
  padding-right: 36px;
  padding-bottom: 12px;
}

.btn {
  display: inline-block;
  font-weight: bold;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), color-stop(51%, #AF31BE), to(#6020B0));
  background: linear-gradient(to right, #FA41CC 0%, #AF31BE 51%, #6020B0 100%);
  padding: 12px 36px;
  -webkit-box-shadow: 0 3px 6px;
          box-shadow: 0 3px 6px;
  border-radius: 10px;
}

.card {
  display: inline-block;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #333333;
  font-weight: bold;
}

.price-table {
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  table-layout: fixed;
}
.price-table tr {
  width: 100%;
}
.price-table tr .table-title {
  border: 1px solid #E5E5E5;
  width: 30%;
  vertical-align: middle;
  text-align: left;
  padding: 40px 19px;
}
.price-table tr .table-text {
  width: 70%;
  border: 1px solid #E5E5E5;
  vertical-align: middle;
  text-align: left;
  padding: 40px 30px;
}

.accordion {
  width: 100%;
}

.accordion dt {
  position: relative;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 22px 0;
  border: 1px solid #E5E5E5;
}

.accordion dt::after {
  position: absolute;
  content: ">";
  right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion dt.open::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion dd {
  opacity: 0;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #F2F2F2;
}

.accordion dd.open {
  opacity: 1;
  height: auto;
  padding: 28px 37px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */