// Colors
$color-primary: #FFFFFF;
$color-primary-blue: #EEFBFB;
$color-contact-back-blue: linear-gradient(to right, #05A5FA 0%, #05A5FA 51%, #63FBD7 100%);
$color-btn: linear-gradient(to right, #FA41CC 0%, #AF31BE 51%, #6020B0 100%);
$color-text: #333333;
$color-contactblue: #0C449B;
$color-title-blue: #3BA6C9;
