// Colors
$color-primary: #FFFFFF;
$color-primary-blue: #EEFBFB;
$color-contact-back-blue: linear-gradient(to right, #05A5FA 0%, #250d65 51%, #7633a4 100%);
$color-btn: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
$color-text: #333333;
$color-gray: #f0f0f0;
