@charset "UTF-8";

@use "../global/" as g;

#blog {
  background: g.$color-primary-blue;

  .wrapper {
    max-width: 1230px;
  }

}

.blog-inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  .card {
    width: 100%;
    max-width: 389px;
    min-height: 360px;
    position: relative;

    .card-inner {
      padding: 19px 18px 36px 18px;

    }
    p {
      @include g.font-size(18);
    }
    time {
      @include g.font-size(16);
      position: absolute;
      display: block;
      text-align: right;
      padding-right: 18px;
      padding-bottom: 11px;
      bottom: 0;
      right: 0;

    }

    
  }
}

@include g.mq(pc) {
  .blog-inner {
    

    .card {
      p {
        @include g.font-size(14);
      }
      time {
        @include g.font-size(14);
      }
    }
  }
}
@include g.mq(tab) {
  .blog-inner {
    flex-direction: column;
    align-items: center;
    

    .card {
      p {
        @include g.font-size(14);
      }
      time {
        @include g.font-size(14);
      }
    }
  }
}




  
    
