@charset "UTF-8";

@use "../global" as g;

.header {
  width: 100%;
  background: g.$color-primary;
  position: fixed;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

  .wrapper {
    padding-bottom: 0;

  }

    .header-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 94px;
    }
  

}

.header-logo {
  @include g.font-size(24);
  font-weight: bold;

  img {
    padding-right: 24px;
  }
}

@include g.mq(tab) {

  .header-logo {
    @include g.font-size(20);
    font-weight: bold;
  
  }

}

.header-nav {
  .header-menu {
    display: flex;

    .header-nav-item {
      @include g.font-size(16);
      font-weight: bold;
      padding-right: 46px;
    }
  }
}

@include g.mq(pc) {

.header-nav {
  .header-menu {
    display: flex;
    flex-direction: column;

    .header-nav-item {
      padding-right: 0;
    }

    
  }
}
}

@include g.mq(pc) {

  header {
    .btn {
      display: none;
    }
  }




}