@charset "UTF-8";

@use "../global/" as g;

// メインビュー

#mv {
  width: 100%;
  height: auto;
  background-image: url(/img/mv-back-cont.png);
  background-repeat: no-repeat;
  position: relative;
  background-position: top -300px right -80px;
  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 100px 20px;
    padding-bottom: 0;
  }
}

@include g.mq(pc) {

  #mv {
    .wrapper {
      flex-direction: column-reverse;
      text-align: center;

      .sec-title {
        padding-top: 0;
      }

    }
  }

}

.mv-left {
  width: 50%;

  .sec-title {
    text-align: left;
  }

  p {
    padding-top: 38px;
    padding-bottom: 51px;
    @include g.font-size(16);
    font-weight: bold;

  }

}

@include g.mq(pc) {
  .mv-left {
    width: 80%;

  }


}





.mv-right {
  width: 50%;

  img {
    padding-left: 133px;
  }
}

@include g.mq(pc) {
  .mv-right {
    width: 100%;
  
    img {
      padding-left: 0;
      padding-bottom: 16px;
    }
  }


}

