@charset "UTF-8";

@use "../global/" as g;


#price {
  background: g.$color-primary-blue;
  width: 100%;
  text-align: center;
}

.alert {
  font-weight: bold;
  padding-top: 41px;
  @include g.font-size(16);

}



