@charset "UTF-8";

@use "../global/" as g;


@mixin btn {
  display: inline-block;
  font-weight: bold;
  color: g.$color-primary;
  background: g.$color-btn;
  padding: 12px 36px;
  box-shadow: 0 3px 6px;
  border-radius: 10px;
  background-size: 100% auto;
}

.btn {
  @include btn;
}

.btn:hover {
  transform:translateY(-10%);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  opacity: 1;
}

